In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
X = pd.read_csv("./data/X_train.csv")
Y = pd.DataFrame(X['Score'])
X = X.drop(columns=['Score'])
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

In [3]:
y_test

         Score
1125688    5.0
1003268    3.0
1149789    5.0
1341565    2.0
98544      5.0
...        ...
267175     3.0
285237     4.0
871797     1.0
1014577    5.0
982174     5.0

[419260 rows x 1 columns]

In [4]:
x_train_features = x_train.drop(columns=['Id', 'ProductId', 'UserId', 'Text', 'Summary'])
x_test_features = x_test.drop(columns=['Id', 'ProductId', 'UserId', 'Text', 'Summary'])

x_train_features

         HelpfulnessNumerator  HelpfulnessDenominator        Time
880846                      5                       5  1218585600
1359338                     0                       0  1377820800
803990                      7                      10  1133395200
131075                      0                       4  1351209600
1155514                     0                       0  1404950400
...                       ...                     ...         ...
609244                      0                       0  1361404800
119611                      0                       2  1178928000
396813                      0                       0  1389312000
1111294                     0                       0  1385596800
808985                      4                       5  1303344000

[978273 rows x 3 columns]

In [5]:
predictionSet = pd.read_csv("./data/prediction.csv")
x_predict = predictionSet.drop(columns=['Id', 'ProductId', 'UserId', 'Text', 'Summary', 'Score'])

In [6]:
model = KNeighborsClassifier(n_neighbors=3).fit(x_train_features, y_train)
predictionSet['Score'] = model.predict(x_predict)
x_test['Score'] = model.predict(x_test_features)

x_test.shape

(419260, 9)

In [11]:
x_test = x_test.sort_values(by=['Id'])
x_test

,Id,ProductId,UserId,HelpfulnessNumerator,HelpfulnessDenominator,Time,Summary,Text,Score
2,2,0005019281,A3UORV8A9D5L2E,0,0,1388361600,Winkler's Performance was ok at best!,"Don't get me wrong, Winkler is a wonderful cha...",4.0
3,3,0005019281,A1VKW06X1O2X7V,0,0,1202860800,It's an enjoyable twist on the classic story,Henry Winkler is very good in this twist on th...,5.0
4,4,0005019281,A3R27T4HADWFFJ,0,0,1387670400,Best Scrooge yet,This is one of the best Scrooge movies out. H...,3.0
10,12,0005019281,AG8D804FUG5Y4,0,1,1199836800,Christmas,My wife told me of this movie in which Henry W...,3.0
15,18,0005019281,A3UEOL981G9TXY,0,0,1328227200,An American Christmas Carol,Henry Winkler played a great part as Scrooge. ...,3.0
...,...,...,...,...,...,...,...,...,...
1397524,1697519,B00LH9ROKM,AER15RIMV8E6D,0,0,1405296000,Creepy & Chilling!!!,"This is the 1st horror film of 2014 I've seen,...",5.0
1397525,1697521,B00LH9ROKM,A1Q3GEO516I4VK,0,0,1404518400,"Intense and compelling, with a dose of silly o...","While not nearly as terrifying as say, The Con...",4.0
1397526,1697523,B00LT1JHLW,APO10VQE3MAKE,2,9,1405900800,Finally!,Well it is finally coming to fruition! Batman...,1.0
1397530,1697530,B00LT1JHLW,A3DE438TF1A958,3,10,1405728000,prayers have been answered because batman 60s ...,Could this be a true or I'm i dreaming batman ...,1.0
1397532,1697532,B00LT1JHLW,A3ROPC55BE2OM9,11,23,1405728000,The Price is Insane? People Really Need to Wak...,People seriously need to wake up and realize t...,1.0

In [12]:
submission = predictionSet[['Id', 'Score']]
submission_offline = x_test[['Id', 'Score']]

submission_offline

              Id  Score
2              2    4.0
3              3    5.0
4              4    3.0
10            12    3.0
15            18    3.0
...          ...    ...
1397524  1697519    5.0
1397525  1697521    4.0
1397526  1697523    1.0
1397530  1697530    1.0
1397532  1697532    1.0

[419260 rows x 2 columns]

In [13]:
submission.to_csv("./data/submission.csv", index=False)
submission_offline.to_csv("./data/submission_offline.csv", index=False)

# Now Evaluator Code

In [3]:
from sklearn.metrics import mean_squared_error
import pandas as pd

In [4]:
y_predict = pd.read_csv("./data/submission_offline.csv")
train = pd.read_csv("./data/X_train.csv")

In [5]:
y_id = y_predict.drop(columns=['Score'])
y_id

             Id
0             2
1             3
2             4
3            12
4            18
...         ...
419255  1697519
419256  1697521
419257  1697523
419258  1697530
419259  1697532

[419260 rows x 1 columns]

In [6]:
y_true = pd.merge(train, y_id, left_on='Id', right_on='Id')

In [7]:
y_predict

             Id  Score
0             2    4.0
1             3    5.0
2             4    3.0
3            12    3.0
4            18    3.0
...         ...    ...
419255  1697519    5.0
419256  1697521    4.0
419257  1697523    1.0
419258  1697530    1.0
419259  1697532    1.0

[419260 rows x 2 columns]

In [8]:
y_true

,Id,ProductId,UserId,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,2,0005019281,A3UORV8A9D5L2E,0,0,3.0,1388361600,Winkler's Performance was ok at best!,"Don't get me wrong, Winkler is a wonderful cha..."
1,3,0005019281,A1VKW06X1O2X7V,0,0,5.0,1202860800,It's an enjoyable twist on the classic story,Henry Winkler is very good in this twist on th...
2,4,0005019281,A3R27T4HADWFFJ,0,0,4.0,1387670400,Best Scrooge yet,This is one of the best Scrooge movies out. H...
3,12,0005019281,AG8D804FUG5Y4,0,1,3.0,1199836800,Christmas,My wife told me of this movie in which Henry W...
4,18,0005019281,A3UEOL981G9TXY,0,0,5.0,1328227200,An American Christmas Carol,Henry Winkler played a great part as Scrooge. ...
...,...,...,...,...,...,...,...,...,...
419255,1697519,B00LH9ROKM,AER15RIMV8E6D,0,0,4.0,1405296000,Creepy & Chilling!!!,"This is the 1st horror film of 2014 I've seen,..."
419256,1697521,B00LH9ROKM,A1Q3GEO516I4VK,0,0,4.0,1404518400,"Intense and compelling, with a dose of silly o...","While not nearly as terrifying as say, The Con..."
419257,1697523,B00LT1JHLW,APO10VQE3MAKE,2,9,5.0,1405900800,Finally!,Well it is finally coming to fruition! Batman...
419258,1697530,B00LT1JHLW,A3DE438TF1A958,3,10,5.0,1405728000,prayers have been answered because batman 60s ...,Could this be a true or I'm i dreaming batman ...
419259,1697532,B00LT1JHLW,A3ROPC55BE2OM9,11,23,5.0,1405728000,The Price is Insane? People Really Need to Wak...,People seriously need to wake up and realize t...

In [9]:
y_predict = y_predict['Score']
y_true = y_true['Score']

In [10]:
y_predict

0         4.0
1         5.0
2         3.0
3         3.0
4         3.0
         ...
419255    5.0
419256    4.0
419257    1.0
419258    1.0
419259    1.0
Name: Score, Length: 419260, dtype: float64

In [11]:
y_true

0         3.0
1         5.0
2         4.0
3         3.0
4         5.0
         ...
419255    4.0
419256    4.0
419257    5.0
419258    5.0
419259    5.0
Name: Score, Length: 419260, dtype: float64

In [12]:
rmse = mean_squared_error(y_true, y_predict, squared=False)
rmse

1.5737790563022567